body {
  background-color: #fdfdfd;
}
.Container {
  font-size: calc(2px + 2vmin);
  display: grid;
  width: 100vw;
  
  margin: auto;
  height: calc(100vh - 8px);
  grid-auto-rows: 3rem 64px 1rem auto 3rem;
  grid-auto-columns: 3rem 1fr 1fr 1fr 3rem;
  font-size: 1rem;
}

.Button {
  color: rgb(21, 21, 21);
  background-color: #fdfdfd;
  border-color: #f9fafb;
  border: none;
  padding: 0.3rem 0.6rem;
  font-size: inherit;
  cursor: pointer;
  display: flex;
}

.ButtonWithLabel svg {
  margin-right: 0.2rem;
  margin-top: 0.2rem;
}

.ButtonWithLabel--Left svg {
  margin-left: 0.2rem;
}

.Button:hover {
  color: rgb(21, 21, 21);
}

.Button:active,
.Button:focus {
  background-color: black;
  color: white;
}

.ChosenColor {
  display: inline-block;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid black;
  margin-left: 0.4rem;
}

label {
  display: block;
}

.Button-ColorPicker {
  color: black;
  margin-right: 0.4rem;
  padding-right: 0.2rem;
}

.Button-ColorPicker:hover,
.Button-ColorPicker:focus,
.Button-ColorPicker:active {
  background: #ededed;
  color: black;
}

.Button-ColorPicker:last-child {
  margin-right: 0;
}

.Button.IconOnly.Chosen {
  color: #ff65d0;
}

.IconOnly {
  text-indent: -200vw;
  padding: 0.5rem 0.5rem 0.45rem;
  margin: 0 0.2rem;
}

.Button.IconOnly:disabled {
  color: #ddd;
}

.IconOnly.Active {
  background-color: transparent;
}

.IconOnly.Active path {
  fill: transparent;
  stroke: black;
}

.Application-Menu {
  background: white;
  color: #0b0b0b;
  border-radius: 0.1rem;
  grid-row-start: 2;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-end: 3;
  user-select: none;
}

.Upload-Placeholder {
  padding: 1rem 1rem;
  border: 1px dashed gray;
  margin-bottom: 1rem;
}

label[for="file-input"] {
  display: inline-block;
  color: blue;
  cursor: pointer;
}

.Hidden {
  display: none;
}

.AbsolutePosition {
  position: absolute;
}

canvas {
  display: flex;
}

.ColorPicker-Colors {
  width: 300px;
  height: 300px;
  background-color: white;
  position: absolute;
  z-index: 9;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 1.8rem;
}

.ColorPicker-ColorGrid {
  display: flex;
  align-items: start;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
}

.ColorPicker-ColorGrid > span {
  width: 15px;
  height: 15px;
  margin: 1px;
  cursor: pointer;
}

.ColorPicker-ColorGrid > .Transparent {
  background: white;
}

.ButtonGroup-Items {
  position: absolute;
}

.CommandInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 3;
  grid-column-end: 4;
  align-items: center;
  justify-content: flex-end;
  grid-row-start: 2;
}

.Commands {
  background-color: #f7f7f7;
  width: 300px;
  padding: 0.3rem;
  position: absolute;
  border: 1px solid #e6e3e3;
  top: 7.5rem;
  z-index: 9;
}

.CommandItem {
  padding: 0.2rem;
  cursor: pointer;
}

.CommandItem:hover {
  background-color: rgb(255, 245, 187);
}

.CommandItem.isActive {
  background-color: #FFC28C;
}

#Logo {
  background: #FFC28C;
  width: 64px;
  height: 64px;
  display: inline-block;
  margin-right: 0.7rem;
}

.Header {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  align-items: flex-end;
}

.Canvas {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: #f7f7f7;
  
  /* filter: brightness(1) invert(1); */
}

.ColorPickers {
  grid-column-start: 1;
  grid-column-end: 6;
  display: flex;
  grid-row-start: 6;
  grid-row-end: 2;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0.5rem;
}

h1 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding-bottom: 0.2rem;
  z-index: 10;
}