@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  .Canvas {
    background-color: #1e1e1e;
  }

  .Button {
    background-color: #1e1e1e;
    color: white;
  }

  .IconOnly.Active path {
    fill: transparent;
    stroke: white;
  }  
}
